.cloud_1{
    width:100%;
    position: absolute;
    top:0;
    left:0;
    margin-top:3%;
    margin-left:2%;
}

.cloud_img_1{
    width:14%;
    display: block;
    background: url("../images/cloud.png") no-repeat;
    background-size: 100% 100%;
    padding-top: 14%;
    position: relative;
    z-index:4;
}

.cloud_img_2{
    width:14%;
    display: block;
    background: url("../images/cloud_1.png") no-repeat;
    background-size: 100% 100%;
    padding-top: 14%;
    position: relative;
    z-index:4;
}

.cloud_img_3{
    width:14%;
    display: block;
    background: url("../images/cloud_2.png") no-repeat;
    background-size: 100% 100%;
    padding-top: 14%;
    position: relative;
    z-index:4;
}


.cloud_2{
    width:100%;
    position: absolute;
    top:0;
    left:0;
    margin-top:4%;
    margin-left:20%;
}

.cloud_3{
    width:100%;
    position: absolute;
    top:0;
    left:0;
    margin-top:4%;
    margin-left:50%;
}

.cloud_4{
    width:100%;
    position: absolute;
    top:0;
    left:0;
    margin-top:5%;
    margin-left:40%;
}
