
.moon{
  width:100%;
  position: absolute;
  margin-left:70%;
  margin-top:8%;
  z-index:2;
}

.moon-box{
  background: url("../images/moon-sheep.png") no-repeat;
  background-size: 100% 100%;
  width:20%;
  padding-top: 20%;
}

.sheep{
  width:100%;
  position: absolute;
  top:0;
  left:0;
  margin-top:6%;
  margin-left:6%;
}

.moon-img{
  width:20%;
  display: block;
}

.sheep-img{
  width:10%;
  display: block;
}